{% extends 'docapps/base.html' %}


{% block dashboard %}

<div class="container">
    {% for message in messages %}
        <p id="message">{{message}}</p>
    {% endfor %}
    <div class="" style="width: 567px; margin: 0 auto;" >
        <div class="col">
            <!-- Horizontal Form -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Horizontal Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                      <div class="form-group">
                        <label for="id_username">Username:</label>  
                        <input type="text" class="form-control" name="username" maxlength="150" autofocus required id="id_username">
                        <span class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                      </div>
                      <!-- Email input -->
                      <div class="form-group">
                        <label for="id_email">Email address:</label>
                        <input type="email" class="form-control" name="email" maxlength="254" id="id_email">
                      </div>
                      <!-- Date -->
                      <div class="form-group">
                        <label for="id_password1">Password:</label> 
                        <input type="password" class="form-control" name="password1" autocomplete="new-password" required id="id_password1">
                        <span class="form-text text-muted"><ul><li>Password can’t be too similar to your other personal information.</li><li>Password must contain at least 8 characters.</li><li>Your password can’t be entirely numeric.</li></ul></span>
                      </div>
                      <!-- Email -->
                      <div class="form-group">
                        <label for="id_password2">Password confirmation:</label>
                        <input type="password" class="form-control" name="password2" autocomplete="new-password" required id="id_password2">
                         <span class="helptext">Enter the same password as before, for verification.</span>
                      </div>
                    </div>
                    <!-- /.card-body -->
        
                    <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
{% endblock %}