{% extends 'docapps/base.html' %}
{% block dashboard %}

  <!-- Table and Form -->
  <div class="container-fluid">
    <div class="row p-2">
      <div class="col-sm-8">
        <!-- /.card -->
        <div class="card">
          <div class="card-header">
              <h3 class="card-title">DataTable with default features</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered">
              <thead>
              <tr>
                  <th>S/L</th>
                  <th>Doc Title</th>
                  <th>Document</th>
                  <th>Notfn Email</th>
                  <th>Notfn Phone No</th>
                  <th>Doc Created</th>
                  <th>Doc Expired</th>
              </tr>
              </thead>
              <tbody>
              {% if docs is False %}
              <tr class="text-center font-weight-bold color-warning">No data is available</tr>
              {% else %}
                {% for doc in docs %}
                  {% if doc.is_expired %}
                    <tr class="bg-danger">
                      <td> {{ forloop.counter }} </td>
                      <td> {{ doc.doc_title }} </td>
                      <td> {{ doc.doc_file|truncatechars:10 }} </td>
                      <td> {{ doc.email }} </td>
                      <td> {{ doc.phone }} </td>
                      <td> {{ doc.created|date:"d-m-Y" }} </td>
                      <td> {{ doc.expiring_date|date:"d-m-Y" }} </td>
                  </tr>
                  {% elif doc.is_expiring_soon%}
                    <tr class="bg-warning">
                      <td> {{ forloop.counter }} </td>
                      <td> {{ doc.doc_title }} </td>
                      <td> {{ doc.doc_file|truncatechars:10 }} </td>
                      <td> {{ doc.email }} </td>
                      <td> {{ doc.phone }} </td>
                      <td> {{ doc.created|date:"d-m-Y" }} </td>
                      <td> {{ doc.expiring_date|date:"d-m-Y" }} </td>
                    </tr>
                  {% else %}
                  <tr>
                    <td> {{ forloop.counter }} </td>
                    <td> {{ doc.doc_title }} </td>
                    <td> {{ doc.doc_file|truncatechars:10 }} </td>
                    <td> {{ doc.email }} </td>
                    <td> {{ doc.phone }} </td>
                    <td> {{ doc.created|date:"d-m-Y" }} </td>
                    <td> {{ doc.expiring_date|date:"d-m-Y" }} </td>
                  </tr>
                  {% endif %}
                {% endfor %}
              {% endif %}
              </tbody>
              <tfoot>
              <tr>
                <th>S/L</th>
                <th>Doc Title</th>
                <th>Document</th>
                <th>Notfn Email</th>
                <th>Notfn Phone No</th>
                <th>Doc Created</th>
                <th>Doc Expired</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    <div class="col-sm-4">
      <!--Form Card -->
      <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Upload New Document</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">
              <div class="form-group">
                <label for=doc_title>Document Title:</label>
                <input type="text" class="form-control" id="doc_title" name="doc_title" placeholder="Enter to name the file " required>
              </div>
              <!-- File input -->
              <div class="form-group">
                <label for="id_doc_file">File input:</label>
                <input type="file" class="form-control" id="id_doc_file" name="doc_file" style="line-height: 18px;" required>
              </div>
              <!-- Date -->
              <div class="form-group">
                <label for=id_expiring_date>Expiring Date:</label>
                <input type="date" class="form-control" id="id_expiring_date" name="expiring_date" placeholder="dd-mm-yyyy" required>
              </div>
              <!-- Email -->
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email to get notification">
              </div>
              <!-- phone mask -->
              <div class="form-group">
                <label>BD Phone Number:</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                  </div>
                  <input type="text" class="form-control"  id="phone" name="phone" data-inputmask='"mask": "99999-999999"' data-mask placeholder="+880 1813******">
                </div>
                <!-- /.input group -->
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
      </div>
      <!-- /.Form card -->
    </div>
    </div>
  </div>
  <!-- /.Table and Form -->
{% endblock %}