{% extends 'docapps/base.html' %}
{% block dashboard %}

<div class="container mt-5">
  <div class="card card-primary">
    <div class="card-header text-center">
        <h3 class="card-title">E-mail Settings</h3>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="id_email_host">Email Host *</label>
              <input type="text" class="form-control" id="id_email_host" name="email_host" placeholder="(e.g., smtp.domain.com)" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for=id_email_port>EMAIL_PORT *</label>
              <input type="number" class="form-control" id="id_email_port" name="email_port" placeholder="(e.g., 587)" required>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for=id_host_user>Email Host User *</label>
              <input type="email" class="form-control" id="id_host_user" name="host_user" placeholder="Enter your email  from which your email will be sent to " required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for=id_host_password>Email Host Password *</label>
              <input type="password" class="form-control" id="id_host_password" name="host_password" placeholder="Enter email host password " required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for=id_sender_name>Email Sender Name </label>
              <input type="text" class="form-control" id="id_sender_name" name="sender_name" placeholder="You can type your company name here ">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for=id_use_tls>Email Use TLS *</label>
              <input type="text" class="form-control" id="id_use_tls" name="use_tls" placeholder="Type 'True or False' " required>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
      <button type="submit" class="btn btn-primary float-right">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
