{% extends 'docapps/base.html' %}

{% block dashboard %}
<div class="container mt-2">
    <div class="card card-primary" style="margin: 0 auto;>
        <div class="row">
            <!-- /.card -->
            <div class="card-header">
                <h3 class="card-title">All Documents are Expiring Soon</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered">
                <thead>
                <tr>
                    <th>S/L</th>
                    <th>Doc Title</th>
                    <th>Document</th>
                    <th>Notfn Email</th>
                    <th>Notfn Phone No</th>
                    <th>Doc Created</th>
                    <th>Doc Expired</th>
                </tr>
                </thead>
                <tbody>
                {% if docs is False %}
                <tr class="text-center font-weight-bold color-warning">No data is available</tr>
                {% else %}
                    {% for doc in docs %}
                    <tr>
                        <td> {{ forloop.counter }} </td>
                        <td> {{ doc.doc_title }} </td>
                        <td> {{ doc.doc_file|truncatechars:10 }} </td>
                        <td> {{ doc.email }} </td>
                        <td> {{ doc.phone }} </td>
                        <td> {{ doc.created|date:"d-m-Y" }} </td>
                        <td> {{ doc.expiring_date|date:"d-m-Y" }} </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
                <tfoot>
                <tr>
                    <th>S/L</th>
                    <th>Doc Title</th>
                    <th>Document</th>
                    <th>Notfn Email</th>
                    <th>Notfn Phone No</th>
                    <th>Doc Created</th>
                    <th>Doc Expired</th>
                </tr>
                </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
    </div>
</div>

{% endblock %}