{% extends 'docapps/base.html' %}


{% block dashboard %}

<div class="container">
    <div class="" style="width: 567px; margin: 0 auto;" >
        <div class="col">
            <!-- Horizontal Form -->
            <div class="card card-primary">
                <div class="card-header">
                    <h2 class="card-title">Log In</h2>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                      <div class="form-group">
                        <label for="id_username">Username:</label>  
                        <input type="text" class="form-control" name="username" maxlength="150" autofocus required id="id_username">
                      </div>
                      <!-- Date -->
                      <div class="form-group">
                        <label for="id_password">Password:</label> 
                        <input type="password" class="form-control" name="password" autocomplete="new-password" required id="id_password1">
                      </div>
                    </div>
                    <!-- /.card-body -->
        
                    <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
{% endblock %}