  <!-- Navbar -->
  <nav class="navbar navbar-expand" style="background-color: #20c997;">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item d-none d-sm-inline-block mr-2">
        <a href="{% url 'docapps:dashboard' %}" class="navbar-brand">SYNCHIT</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    {% if request.user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
      <!-- Full Screen -->
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <!-- Admin Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" "font-weight-bold" data-toggle="dropdown" href="#">
          <i class="far fa-user mr-1"></i>Admin
        </a>
        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-center">
          <a href="{% url 'docapps:dashboard' %}" class="dropdown-item">
            <i class="fas fa-user "></i> Dashboard
          </a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'docapps:user_info' %}" class="dropdown-item">
            <i class="fas fa-wrench"></i> User
          </a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'docapps:create_user' %}" class="dropdown-item">
            <i class="fas fa-plus-circle"></i> Create User
          </a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'docapps:email_settings' %}" class="dropdown-item">
            <i class="fas fa-envelope"></i> Mail Settings
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-paper-plane"></i> SMS Stettings
          </a>
        </div>
      </li>

      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">{{ all_notifications }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-center">
          <a href="{% url 'docapps:expired' %}" class="dropdown-item">
            <i class="fas fa-times text-danger"></i> {{ expired_notification }} Documents Expired
          </a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'docapps:expiring_soon_detail_page' %}" class="dropdown-item">
            {% if expiring_soon_notification %}
            <i class="fas fa-exclamation-triangle text-warning"></i> {{ expiring_soon_notification }} Documents Expiring Soon
            {% else %}
            <i class="fas fa-check-circle text-success"></i> No Documents to be expired soon
            {% endif %}
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" "font-weight-bold" href="{% url 'docapps:logout' %}">
          <i class="fas fa-sign-out-alt"></i>Log out
        </a>
      </li>
    </ul>
    {% endif %}
  </nav>
  <!-- /.navbar -->