{% extends 'docapps/base.html' %}

{% block dashboard %}  
<div class="container">
    <!-- /.row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card-header">
                <h3 class="card-title">Select user to change</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Staff</th>
                    <th>Superuser</th>
                    <th>Last Login</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td> {{ user.id }} </td>
                        <td><a href=" {% url 'docapps:edit_user' user.id %} ">{{ user.username }}</a></td>
                        <td> {{ user.email }} </td>
                        <td> {{ user.first_name }} </td>
                        <td> {{ user.last_name }} </td>
                        <td> {{ user.is_staff }} </td>
                        <td> {{ user.is_superuser }} </td>
                        <td> {{ user.last_login}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
</div>  
{% endblock %}