{% extends 'docapps/base.html' %}
{% load crispy_forms_tags %}

{% block dashboard %}
<div class="container mt-5">
    <div class="card card-primary">
        <div class="card-header text-center">
            <h3 class="card-title">User Settings</h3>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        {{ form.is_staff|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.is_active|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.is_superuser|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        {{ form.date_joined|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ form.last_login|as_crispy_field }}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary float-right">save</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}