nav ul li a{
    color: #001f3f;
}
.card .card-header{
    background-color: #20c997;
}
.card-primary:not(.card-outline)>.card-header {
    background-color: #20c997;
}
.btn-primary {
    color: #fff;
    background-color:  #20c997;
    border-color:  #20c997;
    box-shadow: none;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #20c997;
    border-color: #20c997;
}
.navbar-badge {
    font-size: small;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    right: 3px;
    top: 6px;
}
